.menu-option-show{
    display: block !important;
}
.menu-item-option-conteiner{
    display: none;
    position: absolute;
    z-index: 100;
    background-color: grey;
}
.menu-item-option-list{
    list-style: none;
    padding: 1% 
}
.menu-item-button:hover{
background-color: blue;
cursor: pointer;
}