.input__wrapper {
    width: 20%;
    position: relative;
    /*     margin: 15px 0; */
    text-align: center;
    /*   border-left: 1px dotted black;
    border-right: 1px dotted black; */
    padding-left: 1%
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input__file-icon-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #fff;
}

.input__file-button-text {
    line-height: 1;
    margin-top: 1px;
    text-align: left;
}

.input__file-button {
    width: 100%;
    max-width: 290px;
    height: 60px;
    margin-bottom: 0;
    color: #4F4F4F;
    font-size: 1.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.site-logo-conteiner {
    width: 30%;
}

.site-logo-img {
    max-width: 100%;
    max-height: 100%;
}