.questions-container {}

.question-center {
    display: flex;
    flex-direction: column;
}

.questions-header {
    /*  margin: 0 auto; */
    text-align: center;
}

.questions-body {
    /*  margin: 0 auto; */
}

.question-h3 {
    font-size: 24px;
    margin-bottom: 0;
}

.question-p {
    font-size: 18px;
    color: #828282;
}

.questions-buttons {
    display: flex;
    justify-content: flex-end;
}

.icon-conteiner {
    margin-right: 5px;
    cursor: pointer;
}