.app {
    margin-top: 1%;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#root {
    height: 100%;
    flex-grow: 1;
}